<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
        <startup useLegacyV2RuntimeActivationPolicy="true" />
     <assemblyIdentity name="System.IO.Compression.ZipFile" culture="neutral" publicKeyToken="b77a5c561934e089" />
    </startup>
  <appSettings>
    <add key="gameConfig" value="http://megafieldgame.x10.mx/game/changelog.html"/>
    <add key="gameWebLocation" value="http://megafieldgame.x10.mx/"/>
    <add key="launcherWebLocation" value="http://megafieldgame.x10.mx/"/>
  </appSettings>
</configuration>
